header{background-color:aqua;}
.primer_contenedor{background-color: blueviolet;}
.segundo_contenedor{background-color: chartreuse;}
.tercer_contenedor{background-color: brown;}
.cuarto_contenedor{background-color: lightcoral;}
.quinto_contenedor{background-color: royalblue;}
.sexto_contenedor{background-color: yellow;}