/* inicio de header */
header {
 
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background-color: tomato;
  width: 2.813em;
  height: 2.813em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  margin: 64px 130px 0px 0px
}
.lista {
  width: 609px;
  display: flex;
  justify-content: space-between;}
  .lista a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;}
    .lista button{border:none;
    background: transparent; 
    padding: 8px 10px;}
.lista button:hover{
  transition: 2s;
  border: none;
background-color: rgb(180, 174, 174);}

/* fin de header */

/* inicio de primercontenerdor */
.primer_contenedor {
  background-color: rgba(0, 0, 0, 0.726);
  background-position: 0%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.contenido_primer{margin: 74px 0px 0px 276px;}
.redes_sociales{display: flex;
justify-content: flex-start;}
.redes_sociales button {
  background-color: rgb(182, 179, 179);
 
  border-radius:50% ;
  padding: 6px 6px;
}
.redes_sociales button:nth-child(2){margin-left: 1em;}
.redes_sociales button:nth-child(3){margin-left: 1em;}
.contenido_primer h1{color: white;
font-size: 40px;}
.contenido_primer h2 {
	position: relative;
    color: white;
    font-size: 37px;
    border-right: 4px white;
    border-left: 4px white;
    border-top: 1px grey;
    border-bottom: 1px grey;
    border-style: solid;
  width: 7em;
  padding: 10px 46px 10px 13px;
	
}
  .contenido_primer h2:after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -116px;
    margin-bottom: -17px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid white;
} 


.scroll button{background-color: tomato;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
border: none;
margin-top: 7em;
}
.scroll i{color: white;
font-size: 3em;}
/* fin de primercontenedor */

.segundo_contenedor {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.garabatos {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
}
.lineas_decorativas {
  width: 16px;
  height: 2px;
  background-color: tomato;
}
.x {
  color: tomato;
}

.servicios {
  background-color: rgb(255, 165, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50em;
  height: 25.688em;
}
.cosas {
  background-color: gray;
  width: 16.063em;
  height: 12.25em;
}

.tercer_contenedor {
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.tercer_contenedor .arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tercer_contenedor .abajo {
  display: flex;
  justify-content: space-around;
  width: 50em;
  height: 25.688em;
}


.tercer_contenedor .izquierda_tercer img{width: 300px;
  height: 370px;}
.tercer_contenedor .derecho_tercer {
  width: 400px;
  height: 380px;
}

.cuarto_contenedor {
  background-color: lightcoral;
  height: 100vh;
}
.quinto_contenedor {
  background-color: royalblue;
}
.sexto_contenedor {
  background-color: yellow;
}
.septimo_contenedor {
  background-color: palevioletred;
}
